<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employability for the Youth</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>

  <body>
    <nav>
      <!-- Navigation Bar -->
      <div class="navbar">
        <a href="/"><img src="logo.png" alt="Logo" width="400px" /></a>

        <div class="dropdown">
          <button class="dropbutton">
            Profile <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbutton">
            Jobs <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/applyforjobs">Apply for Jobs (Youth)</a>
            <a href="/postajob">Post a Job (Employers)</a>
          </div>
        </div>

        <a href="/C.V">C.V</a>
        <a href="/mentoring">Mentoring</a>
        <a href="/training">Training</a>
      </div>
    </nav>
    <main>
      <div class="applyforjobs">
        <div class="joblinks">
          <h3>Job Links</h3>
          <a
            href="https://aldi.vacancy-filler.co.uk/Candidate/AdvertDetails/4WaG6b50U9bHvwR1a6-FvKp9ixF6BUPU_pPIlyc_uRg"
            target="_blank"
          >
            Store Assistant - Aldi
          </a>
          <br /><br />
          <a
            href="https://www.costacareers.co.uk/job-details/174050/barista"
            target="_blank"
          >
            Barista - Costa
          </a>
          <br /><br />
          <a
            href="https://jla.ciphr-irecruit.com/Applicants/vacancy/1172/HVAC-Electrical-Engineer"
            target="_blank"
          >
            HVAC Electrical Engineer - JLA
          </a>
          <br /><br />
          <a
            href="https://www.radancy.com/en/job/london/content-marketer/34730/57344334496"
            target="_blank"
          >
            Content Marketer - Radancy
          </a>
          <br /><br />
          <a
            href="https://jobs.shell.com/job/london/shell-graduate-programme-2024-united-kingdom/25244/53908260928?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic"
            target="_blank"
          >
            Graduate Programme 2024 - Shell
          </a>
        </div>

        <div class="skills">
          <h3>Valuable Skills in the Workforce</h3>
          <ul>
            <li>Communication</li>
            <br />
            <li>Teamworking</li>
            <br />
            <li>Hardworking</li>
            <br />
            <li>Creativity</li>
            <br />
            <li>Problem Solving</li>
            <br />
            <li>Organisation</li>
            <br />
            <li>Software Management (technical)</li>
            <br />
            <li>Data Analysis (technical)</li>
            <br />
            <li>Programming (technical)</li>
          </ul>
        </div>
        <div class="internships">
          <h3>Internship Links</h3>
          <a
            href="https://www.citadel.com/careers/details/quantitative-research-intern-europe-2/"
            target="_blank"
          >
            Quanitative Research Intern - Citadel
          </a>
          <br /><br />
          <a
            href="https://careers.adobe.com/us/en/job/R142533/2024-Intern-HR-Associate"
            target="_blank"
          >
            HR Associate Intern - Adobe (2024)
          </a>
          <br /><br />
          <a
            href="https://amazon.jobs/en/jobs/2487562/2024-sales-account-management-intern-3-month-internship"
            target="_blank"
          >
            Sales Account Management Internship - Amazon
          </a>
          <br /><br />
          <a
            href="https://careers.ardian.com/en-GB/jobs/2455619-legal-intern"
            target="_blank"
          >
            Legal Internship - ARDIAN
          </a>
          <br /><br />
          <a
            href="https://fticonsult.referrals.selectminds.com/ftistudentcareers/jobs/2024-summer-internship-economic-financial-consulting-17434"
            target="_blank"
          >
            Economic & Financial Consulting Internship - FTI Consultant (2024)
          </a>
        </div>
      </div>
    </main>
    <footer>
      <p>&copy; 2023 Employability for the Youth. All rights reserved.</p>
    </footer>
  </body>
</html>
