
    <div class="postajob">
      <div class="job-box">
        <h2>Post a Job</h2>

        <form action="/postajob" method="post">
          <div class="container">
            <label for="name"><b> Company Name:</b></label>
            <input
              type="text"
              placeholder="Enter Company Name"
              name="name"
              required
            />

            <label for="email"><b>Email:</b></label>
            <input
              type="text"
              placeholder="Enter Email"
              name="email"
              required
            />

            <label for="name"><b> Job Title</b></label>
            <input
              type="text"
              placeholder="Enter Job Title"
              name="name"
              required
            />

            <label for="jobDescription"><b>Job Description:</b></label>
            <textarea
              id="jobDescription"
              name="jobDescription"
              placeholder="Enter the job description here..."
              required
            ></textarea>

            <label for="deadline"><b>Application Deadline:</b></label>
            <input type="date" id="deadline" name="deadline" required />

            <button type="post" class="postbutton">Post</button>
            <br />
          </div>
        </form>
      </div>
    </div>

