
    
    <div class="postajob">
      <div class="job-box">
        <h1><center>Post a Job</center></h1>

        <form action="/postajob" method="post">
          <div class="container">
            <label for="name"><b> Company Name:</b></label>
            <input
              type="text"
              placeholder="Enter Company Name"
              name="j_cname"
              required
            />

            <label for="email"><b>Email:</b></label>
            <input
              type="text"
              placeholder="Enter Email"
              name="j_email"
              required
            />

            <label for="name"><b> Job Title</b></label>
            <input
              type="text"
              placeholder="Enter Job Title"
              name="j_title"
              required
            />

            <label for="jobDescription"><b>Job Description:</b></label>
            <textarea
              id="jobDescription"
              name="j_description"
              placeholder="Enter the job description here..."
              required
            ></textarea>

            <label for="deadline"><b>Application Deadline:</b></label>
            <input type="date" id="deadline" name="j_appdeadline" required />

            <button type="submit" class="postbutton">Post</button>

            <% if (typeof message !== 'undefined' && message) { %>
              <div class="mt-3 alert alert-success" role="alert">
                <%= message %>
              </div>
            <% } %>

            <br />
          </div>
        </form>
      </div>
    </div>

