/* styles.css */

body {
  background-color: #ffffff;
  margin: 0;
}

h1 {
  color: #bfaa1d;
}

/* Navbar */

.navbar {
  background-color: #bfaa1d;
  /* overflow: hidden; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Navbar Dropdown */
.dropdown {
  float: left;
  /* overflow: hidden; */
}

.dropbutton {
  background-color: #bfaa1d;
  color: white;
  padding: 14px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #bfaa1d;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
footer p {
  color: white;
}


/* Home page */
main {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}

h1 {
  color: #bfaa1d;
}

p {
  color: #555;
  margin-bottom: 20px;
}

.youth-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

section {
  flex: 1;
  margin-left: 20px;
}

h3 {
  color: #bfaa1d;
}

/* Login page */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
  color: #333;
}

.container {
  padding: 16px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button.loginbutton {
  background-color: #bfaa1d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.loginbutton:hover {
  color: #d4c66e;
}

/* register page */
.register {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 800px;
  margin: auto;
}

.register-box h2 {
  text-align: center;
  color: black;
}

.container {
  padding: 16px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #bfaa1d;
  border-radius: 4px;
  box-sizing: border-box;
}

#company,
#education {
  display: none;
}

.checkbox-label {
  display: flex;
  margin-bottom: 8px;
}
.checkbox-label input[type="checkbox"] {
  margin-right: 5px; /* Adjust spacing between checkbox and label */
}

.checkbox-label input {
  margin-right: -300px;
  width: 20px;
  margin-bottom: 5px;
}

button {
  background-color: #bfaa1d;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #d4c66e;
}

/* Responsive layout */
@media screen and (max-width: 600px) {
  .register {
    width: 80%;
  }
}

/* Apply for Jobs Page */

main {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.applyforjobs {
  display: inline-flex;
  flex-wrap: wrap;
}

.applyforjobs a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: black;
  text-decoration: none;
}

.applyforjobs a:hover {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #d4c66e;
  text-decoration: underline;
}

.skills li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: black;
}

.joblinks,
.skills,
.internships {
  border: 0.7px solid #d4c66e;
  padding: 10px;
  margin: 5px;
  flex: 1;
}

/* postajob page */

textarea {
  width: 100%;
  height: 200px;
  resize: vertical;
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #bfaa1d;
  border-radius: 4px;
  box-sizing: border-box;
}
.job-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.job-box h2 {
  color: #333;
}

/* C.V Page */
.cvcontainer a {
  font-size: 20px;
  text-decoration: none;
  color: #bfaa1d;
}

.cvcontainer a:hover {
  font-size: 20px;
  text-decoration: underline;
  color: #d4c66e;
}

.cvcontainer {
  border: 1px solid #bfaa1d;
  border-radius: 4px;
  height: 200px;
  padding: 20px;
}
