<nav>
    <!-- Navigation Bar -->
    <div class="navbar">
      <a href="/"><img src="/logo.png" alt="Logo" width="400px" /></a>

      <div class="dropdown">
        <button class="dropbutton">
          Profile <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <% if (typeof user === 'undefined') { %>
              <a href="/login">Login</a>
              <a href="/register">Register</a>
          <% } else { %>
              <a href="/logout">Logout</a>
          <% } %>
      </div>
      </div>

      <div class="dropdown">
        <button class="dropbutton">
          Jobs <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <% if (typeof user !== 'undefined' && user.type === 'employer') { %>
            <a href="/postajob">Post a Job</a>
            <a href="/jobs">Jobs</a>
            <% } else if (typeof user !== 'undefined' && user.type === 'student') { %>
              <a href="/jobs">Apply for Jobs</a>
          <% } %>
          
        </div>
      </div>

      <a href="/C.V">C.V</a>
      <a href="/mentoring">Mentoring</a>
      <a href="/training">Training</a>
    </div>
  </nav>
